# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Xcode
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/.xcode.env.local

# Android
*.apk
*.aab
android/app/build/
*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore
android/.settings
android/.classpath
android/.project

# Buck
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# Environment
.env
